body {
  background-color: #313131;
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 90%;
  height: 100%;
  margin: auto;
}

#title {
  color: aliceblue;
  font-weight: 700;
  font-size: 35px;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  padding-top: 20px;
  padding-bottom: 10px;
  filter: drop-shadow(8px 8px 1px rgb(0, 0, 1));
}

#menu {
  grid-row: 2;
  display: flex;
  justify-items: center;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  align-items: center;
}

#add_bookmark {
  width: 50%;
  transition: 0.6s;
  filter: drop-shadow(8px 8px 1px rgb(0, 0, 1));
  background-color: #b1b1b1;
}

#add_bookmark:hover {
  background-color: #8eb97d;
  translate: 2px 2px;
}

#remove_bookmark {
  width: 50%;
  transition: 0.6s;
  filter: drop-shadow(8px 8px 1px rgb(0, 0, 1));
  background-color: #b1b1b1;
}

#remove_bookmark:hover {
  background-color: #b97d7d;
  translate: 2px 2px;
}

.Bookmarks_Conteiner {
  display: grid;
  justify-self: center;
  grid-row: 3;
  width: 100%;
  height: 720px;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-row-gap: 50px;
  grid-column-gap: 20px;
  grid-auto-rows: 1fr;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Bookmark {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr;
  width: 300px;
  height: 400px;
  background-color: #b1b1b1;
  color: aliceblue;
  font-weight: 700;
  font-size: 25px;
  border-radius: 2px;
  transition: 0.4s;
  justify-self: center;
  filter: drop-shadow(8px 8px 1px rgb(0, 0, 1));
}

.Bookmark p {
  filter: drop-shadow(2px 2px 1px rgb(0, 0, 0.4));
}

.Bookmark:hover {
  transform: scale(0.9);
  background-color: #7e7e7e;
}

.Bookmark_text {
  justify-self: center;
  align-self: center;
}

.Bookmark_img {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: contain;
}

.Bookmarks_Conteiner::-webkit-scrollbar {
  display: none;
}

.box {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 17px;
  align-items: center;
}

.box a {
  display: inline-block;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}

.content {
  position: absolute;
  display: grid;
  grid-template-rows: 0.1fr 0.4fr 0.4fr 0.4fr 0.4fr;
  filter: drop-shadow(8px 8px 1px rgb(0, 0, 1));
  background-color: #b1b1b1;
  width: 400px;
  height: 500px;
  padding: 1em 2em;
  border-radius: 2px;
}

.content input {
  height: 40%;
  filter: drop-shadow(8px 8px 1px rgb(0, 0, 1));
  font-size: 18px;
}


.content h1 {
  filter: drop-shadow(0px 1px 0.1px rgb(0, 0, 0.5));
}

#save_bookmarks {
  width: 60%;
  height: 60%;
  justify-self: center;
  filter: drop-shadow(8px 8px 1px rgb(0, 0, 1));
  transition: 0.6s;
  font-size: 18px;
}

#save_bookmarks:hover {
  background-color: #8eb97d;
  translate: 2px 2px;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.box-close {
  position: absolute;
  top: 0;
  right: 15px;
  color: #000000;
  text-decoration: none;
  font-size: 50px;
  font-weight: 600;
  transition: 0.4s;
}

.box-close:hover {
  transform: scale(0.8);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#content2 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(8px 8px 1px rgb(0, 0, 1));
  background-color: #b1b1b1;
  width: 400px;
  height: 500px;
  padding: 1em 2em;
  border-radius: 2px;
  color: #000000;
  align-items: center;
}

#BookmarkRM_Conteiner {
  width: 100%;
  height: 400px;
  display: grid;
  grid-auto-rows: 0.4fr;
  justify-content: center;
  overflow-y: scroll;
}

#BookmarkRM_Conteiner::-webkit-scrollbar {
  background-color: #7e7e7e;
}

#BookmarkRM_Conteiner::-webkit-scrollbar-thumb {
  background-color: #313131;
}

.removeBookmark {
  background-color: #cacaca;
  display: flex;
  height: 70px;
  width: 300px;
  padding-top: 5px;
  text-align: center;
  padding-bottom: 5px;
  justify-content: center;
  align-content: center;
  filter: drop-shadow(8px 8px 1px rgb(0, 0, 1));
  transition: 0.6s;
}

.removeBookmark:hover {
  translate: 2px 2px;
  background-color: #b97d7d;
  text-decoration: line-through;
}

#save_del {
  margin-top: 20px;
  filter: drop-shadow(2px 2px 1px rgb(0, 0, 0.4));
  width: 300px;
  height: 60px;
  background-color: #8eb97d;
  transition: 0.6s;
  font-size: 20px;
}

#save_del:hover {
  transform: scale(0.98);
  background-color: #709462;
}

@media only screen and (max-width: 1811px) {
  .Bookmarks_Conteiner {
    display: grid;
    justify-self: center;
    grid-row: 3;
    width: 100%;
    height: 750px;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    grid-auto-rows: 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1387px) {
  .Bookmarks_Conteiner {
    display: grid;
    justify-self: center;
    grid-row: 3;
    width: 100%;
    height: 750px;
    grid-template-columns: 0.4fr 0.4fr 0.4fr;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    grid-auto-rows: 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1080px) {
  .Bookmarks_Conteiner {
    display: grid;
    justify-self: center;
    grid-row: 3;
    width: 100%;
    height: 750px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    grid-auto-rows: 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}